In [1]:
import pandas as pd
import datetime
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import re
from functools import reduce
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, mean_squared_error,classification_report, roc_curve 
%matplotlib inline

In [2]:
listing_df=pd.read_csv('listings.csv')

In [3]:
listing_df = listing_df.drop(columns=["bathrooms","listing_url","scrape_id","last_scraped","picture_url",
                                      "host_url","host_name","host_thumbnail_url","host_picture_url","neighbourhood_group_cleansed",
                                      "calendar_updated","calendar_last_scraped"])

# Listing dataset-Data preprocessing

In [4]:
listing_df.duplicated().any()

False

In [5]:
pd.set_option('display.max_rows',None)
print(listing_df.isnull().sum())

id                                                 0
name                                               0
description                                       71
neighborhood_overview                           1790
host_id                                            0
host_since                                         1
host_location                                      6
host_about                                      1934
host_response_time                              1129
host_response_rate                              1129
host_acceptance_rate                             837
host_is_superhost                                  1
host_neighbourhood                               362
host_listings_count                                1
host_total_listings_count                          1
host_verifications                                 0
host_has_profile_pic                               1
host_identity_verified                             1
neighbourhood                                   1790
neighbourhood_cleansed                             0
latitude                                           0
longitude                                          0
property_type                                      0
room_type                                          0
accommodates                                       0
bathrooms_text                                    12
bedrooms                                         942
beds                                             169
amenities                                          0
price                                              0
minimum_nights                                     0
maximum_nights                                     0
minimum_minimum_nights                             2
maximum_minimum_nights                             2
minimum_maximum_nights                             2
maximum_maximum_nights                             2
minimum_nights_avg_ntm                             2
maximum_nights_avg_ntm                             2
has_availability                                   0
availability_30                                    0
availability_60                                    0
availability_90                                    0
availability_365                                   0
number_of_reviews                                  0
number_of_reviews_ltm                              0
number_of_reviews_l30d                             0
first_review                                    1298
last_review                                     1298
review_scores_rating                            1298
review_scores_accuracy                          1324
review_scores_cleanliness                       1324
review_scores_checkin                           1325
review_scores_communication                     1324
review_scores_location                          1325
review_scores_value                             1325
license                                         2773
instant_bookable                                   0
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                               1298
dtype: int64

# HANDLING MISSING VALUES

#host_response_rate->replace NA with mean

In [6]:

print(listing_df['host_response_rate'].isnull().sum())
print(listing_df['host_response_rate'].unique())

1129
['100%' nan '50%' '56%' '90%' '88%' '87%' '0%' '92%' '93%' '20%' '67%'
 '85%' '60%' '83%' '80%' '79%' '86%' '77%' '89%' '75%' '96%' '25%' '40%'
 '27%' '95%' '33%' '82%' '91%' '94%' '71%' '97%' '17%' '99%' '48%' '78%'
 '51%' '55%' '70%' '10%' '63%' '98%' '64%' '5%' '76%' '57%' '13%' '53%'
 '81%']

In [7]:
listing_df['host_response_rate']=listing_df['host_response_rate'].str.replace('%', '')
x=listing_df['host_response_rate'].dropna().astype(int).mean()
listing_df['host_response_rate']=listing_df['host_response_rate'].fillna(x).astype(int)

In [8]:
listing_df['host_acceptance_rate']=listing_df['host_acceptance_rate'].str.replace('%', '')
x=listing_df['host_acceptance_rate'].dropna().astype(int).mean()
listing_df['host_acceptance_rate']=listing_df['host_acceptance_rate'].fillna(x).astype(int)

#host_response_time-> replace NA with '4'

In [9]:
#print(listing_df['host_response_time'].value_counts()) # 1129 missing values
#print(listing_df['host_response_time'].value_counts())
listing_df['host_response_time'] = listing_df['host_response_time'].fillna(4).astype('category') # replace with mode

In [10]:
#0 = within an hour, 1 = within a few hours, 2 = within a day, 3 = a few days or more
listing_df['host_response_time'].replace(['within an hour', 'within a few hours', 'within a day', 'a few days or more'],
                        [0,1,2,3], inplace=True)

In [11]:
# review_scores_rating=0 ---> (23 records)The host canceled this reservation before arrival. This is an automated posting
# review_scores_rating=NULL --->(1298 records)No ratings posted
listing_df['review_scores_rating']=listing_df['review_scores_rating'].fillna(0)
listing_df['review_scores_cleanliness']=listing_df['review_scores_cleanliness'].fillna(0)
listing_df['review_scores_checkin']=listing_df['review_scores_checkin'].fillna(0)
listing_df['review_scores_communication']=listing_df['review_scores_communication'].fillna(0)
listing_df['review_scores_location']=listing_df['review_scores_location'].fillna(0)

#bathrooms_text

In [12]:
listing_df['bathrooms_text'].value_counts()

1 bath               3133
1 private bath        865
2 baths               731
1 shared bath         649
1.5 baths             282
1.5 shared baths      113
2.5 baths             103
2 shared baths         90
3 baths                89
5 shared baths         64
3.5 baths              41
2.5 shared baths       34
4 baths                32
0 shared baths         25
3 shared baths         25
0 baths                22
4 shared baths         21
10 shared baths        17
5 baths                17
4.5 baths              14
3.5 shared baths        8
Shared half-bath        6
6 shared baths          6
Private half-bath       3
Half-bath               3
10 baths                2
6.5 shared baths        2
4.5 shared baths        2
5.5 baths               1
6 baths                 1
Name: bathrooms_text, dtype: int64

In [13]:
#Improve naming consistency 
listing_df.loc[listing_df['bathrooms_text'] == 'Half-bath', 'bathrooms_text'] = '0.5 bath' 
listing_df.loc[listing_df['bathrooms_text'] == 'Shared half-bath', 'bathrooms_text'] = '0.5 shared bath'  
listing_df.loc[listing_df['bathrooms_text'] == 'Private half-bath', 'bathrooms_text'] = '0.5 private bath'

In [14]:
listing_df['bathrooms_text'].isnull().sum() #12 missing rows
#Row indexes of null bathroom data
bathrooms_null_data = listing_df[listing_df['bathrooms_text'].isnull()]
bath_null_ids=bathrooms_null_data.index.tolist()
#Find rows with description
bath_desc_ids = bathrooms_null_data.index[bathrooms_null_data['description'].notnull()].tolist()
#Find the statistics of bathrooms
listing_df['bathrooms_text'].describe() #top       1 bath with freq 3133

count       6401
unique        30
top       1 bath
freq        3133
Name: bathrooms_text, dtype: object

In [15]:
#Fill bathrooms from description or mode (1)
def find_baths(index):
    item = listing_df.iloc[index]['description']    
    hb_count=0
    fb_count = 0 
  #find half-baths  
    hb_index = item.find("half-bath")
  #found
    if hb_index != -1:
        hb_check = item[hb_index-2]
        if hb_check.isdigit() == True: 
            hb_count = hb_check
        else: 
            hb_count = 1
        hb_count = hb_count *0.5  
  #find full baths
    fb_index = item.find("full bath")
    if fb_index != -1:
        fb_check = item[fb_index-2]
        if fb_check.isdigit() == True: 
            fb_count = fb_check
        else: 
            fb_count =1
 
    total = str(hb_count + fb_count) + " baths"
   
  #no data found, set to mode (1)
    if total == "0 baths": 
        total = "1 bath"
    return total
 
#loop through indexes with descriptions 
for x in bath_desc_ids:
    baths=find_baths(x)
    #print(baths)
    listing_df.at[x, 'bathrooms_text'] = baths

In [16]:
#Fill null bathroom data with null descriptions (use mode of 1)
from collections import Counter
bath_desc_null_ids = list((Counter(bath_null_ids) - Counter(bath_desc_ids)).elements())
for x in bath_desc_null_ids:
    listing_df.at[x, 'bathrooms_text'] = "1 bath"
listing_df['bathrooms_text'].isnull().sum()

0

Bedrooms and Beds Missing Data

In [17]:
listing_df['bedrooms'].value_counts() #mode=1 bedroom (freq=3601)
listing_df['bedrooms'].isnull().sum() # 942 missing records

942

In [18]:
bedrooms_null_data = listing_df[listing_df['bedrooms'].isnull()]
bedrooms_null_ids = bedrooms_null_data.index.tolist()
bedrooms_desc_ids = bedrooms_null_data.index[bedrooms_null_data['description'].notnull()].tolist()
#Fill Bedrooms from description 
def find_bedrooms(index):
    item = listing_df.iloc[index]['description']    
    count=0.0  
    index = item.find("bedroom")
   #found
    if index != -1:   
        check = item[index-2]    
        if check.isdigit() == True: 
              count = check
        else: 
              count = 1.0   
    total = count    
  #no data found, set to mode (1)
    if total == 0.0: 
        total = 1.0
    return total 

#loop through indexes with descriptions 
for x in bedrooms_desc_ids:
    bedrooms=find_bedrooms(x)
    #print(bedrooms)
    listing_df.at[x, 'bedrooms'] = bedrooms

In [19]:
#Fill bedrooms data with mode (1)
bedrooms_desc_null_ids=list((Counter(bedrooms_null_ids)-Counter(bedrooms_desc_ids)).elements())
for i in bedrooms_desc_null_ids:
    listing_df.at[i,'bedrooms']=1.0
listing_df['bedrooms'].isnull().sum()

0

#Beds

In [20]:
listing_df['beds'].value_counts()#mode is 1 bed
listing_df['beds'].isnull().sum()# 169 missing records
beds_null_data = listing_df[listing_df['beds'].isnull()]
beds_null_ids = beds_null_data.index.tolist()
beds_desc_ids = beds_null_data.index[beds_null_data['description'].notnull()].tolist()

In [21]:
def find_beds(index):
    item = listing_df.iloc[index]['description']    
    count=0.0  
    index = item.find("bed")
    #found
    if index != -1:   
        check = item[index-2]    
        if check.isdigit() == True: 
              count = check
        else: 
              count = 1.0   
    total = count    
  #no data found, set to mode (1)
    if total == 0.0: 
        total = 1.0
    return total 

#loop through indexes with descriptions 
for x in beds_desc_ids:
    beds=find_beds(x)
    listing_df.at[x, 'beds'] = beds

In [22]:
beds_desc_null_ids = list((Counter(beds_null_ids) - Counter(beds_desc_ids)).elements())
for x in beds_desc_null_ids:
    listing_df.at[x, 'beds'] = 1.0
listing_df['beds'].isnull().sum()

0

Host verification

In [23]:
host_verifications=[]
for i in listing_df['host_verifications'].values:
    verif=str(i).replace('[','').replace(']','').replace('"','').replace("'","").replace(' ','')
    j=verif.split(',')
    host_verifications.extend(j)
host_verifications=[i.lower() for i in host_verifications]
print(len(set(host_verifications)))

17

In [24]:
verif_dict={}
for i in host_verifications:
    verif_dict[i]=verif_dict.get(i,0)+1
{k:v for k,v in sorted(verif_dict.items(),key=lambda item:item[1],reverse=True)}

{'phone': 6395,
 'email': 5967,
 'reviews': 4597,
 'government_id': 4125,
 'offline_government_id': 3057,
 'jumio': 2825,
 'selfie': 1978,
 'kba': 1803,
 'identity_manual': 1764,
 'work_email': 1229,
 'facebook': 920,
 'google': 314,
 'manual_offline': 54,
 'manual_online': 38,
 'sent_id': 7,
 'zhima_selfie': 2,
 'none': 1}

In [25]:
pd.set_option('display.max_columns',None)
listing_df.head()

,id,name,description,neighborhood_overview,host_id,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,has_availability,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,958,"Bright, Modern Garden Unit - 1BR/1BTH",Please check local laws re Covid before you re...,Quiet cul de sac in friendly neighborhood<br /...,1169,2008-07-31,"San Francisco, California, United States",We are a family of four that live upstairs. W...,0,100,98,t,Duboce Triangle,1.0,1.0,"['email', 'phone', 'facebook', 'reviews', 'kba']",t,t,"San Francisco, California, United States",Western Addition,37.77028,-122.43317,Entire serviced apartment,Entire home/apt,3,1 bath,1.0,2.0,"[""Wifi"", ""Hot water"", ""Dedicated workspace"", ""...",$172.00,2,30,2.0,2.0,1125.0,1125.0,2.0,1125.0,t,10,17,22,136,315,42,0,2009-07-23,2021-12-06,4.87,4.94,4.95,4.95,4.90,4.98,4.78,City Registration Pending,f,1,1,0,0,2.08
1,5858,Creative Sanctuary,<b>The space</b><br />We live in a large Victo...,I love how our neighborhood feels quiet but is...,8904,2009-03-02,"San Diego County, California, United States",Philip: English transplant to the Bay Area and...,2,100,71,f,Bernal Heights,2.0,2.0,"['email', 'phone', 'reviews', 'kba', 'work_ema...",t,t,"San Francisco, California, United States",Bernal Heights,37.74474,-122.42089,Entire rental unit,Entire home/apt,5,1 bath,2.0,3.0,"[""First aid kit"", ""Fire extinguisher"", ""Long t...",$235.00,30,60,30.0,30.0,60.0,60.0,30.0,60.0,t,30,60,90,365,111,0,0,2009-05-03,2017-08-06,4.88,4.85,4.87,4.89,4.85,4.77,4.68,NaN,f,1,1,0,0,0.72
2,7918,A Friendly Room - UCSF/USF - San Francisco,Nice and good public transportation. 7 minute...,"Shopping old town, restaurants, McDonald, Whol...",21994,2009-06-17,"San Francisco, California, United States",7 minutes walk to UCSF hospital & school campu...,0,100,100,f,Cole Valley,10.0,10.0,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,"San Francisco, California, United States",Haight Ashbury,37.76555,-122.45213,Private room in rental unit,Private room,2,4 shared baths,1.0,1.0,"[""Fire extinguisher"", ""Lock on bedroom door"", ...",$56.00,32,60,32.0,32.0,60.0,60.0,32.0,60.0,t,30,60,90,365,19,0,0,2009-08-31,2020-03-06,4.20,3.73,3.87,4.67,4.60,4.73,4.00,NaN,f,9,0,9,0,0.13
3,8142,Friendly Room Apt. Style -UCSF/USF - San Franc...,Nice and good public transportation. 7 minute...,NaN,21994,2009-06-17,"San Francisco, California, United States",7 minutes walk to UCSF hospital & school campu...,0,100,100,f,Cole Valley,10.0,10.0,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,NaN,Haight Ashbury,37.76555,-122.45213,Private room in rental unit,Private room,2,4 shared baths,1.0,1.0,"[""Fire extinguisher"", ""Lock on bedroom door"", ...",$56.00,32,90,32.0,32.0,90.0,90.0,32.0,90.0,t,30,60,90,365,8,0,0,2014-09-08,2018-09-12,4.63,4.38,4.38,4.75,4.75,4.63,4.63,NaN,f,9,0,9,0,0.09
4,8339,Historic Alamo Square Victorian,Pls email before booking. <br />Interior featu...,NaN,24215,2009-07-02,"San Francisco, California, United States",I'm an Interior Stylist living in SF. \r\n\r\n...,4,94,0,f,Alamo Square,2.0,2.0,"['email', 'phone', 'reviews', 'kba']",t,t,NaN,Western Addition,37.77564,-122.43642,Entire condominium (condo),Entire home/apt,4,1.5 baths,2.0,2.0,"[""Wifi"", ""Hot water"", ""Dedicated workspace"", ""...",$895.00,7,111,7.0,7.0,111.0,111.0,7.0,111.0,t,30,60,90,365,28,0,0,2009-09-25,2019-06-28,4.87,4.88,5.00,4.94,5.00,4.94,4.75,STR-0000264,f,2,2,0,0,0.19

#other missing columns

In [26]:
# derived column -number of years from host_since
dt=datetime.datetime(2022, 1, 6, 0, 0)
listing_df['host_since']=pd.to_datetime(listing_df['host_since'])
x=dt-listing_df['host_since']
listing_df['host_since_years']=round(x/datetime.timedelta(days=365),1)
listing_df['host_since_years']=listing_df['host_since_years'].fillna(0) # 1 missing record

In [27]:
listing_df['reviews_per_month']=listing_df['reviews_per_month'].fillna(0)
listing_df['host_is_superhost']=listing_df['host_is_superhost'].fillna('f')
listing_df['host_total_listings_count']=listing_df['host_total_listings_count'].fillna(0)
listing_df['host_has_profile_pic']=listing_df['host_has_profile_pic'].fillna('f')
listing_df['host_identity_verified']=listing_df['host_identity_verified'].fillna('f')
listing_df['reviews_per_month']=listing_df['reviews_per_month'].fillna(0)

In [28]:
listing_df.isnull().sum()

id                                                 0
name                                               0
description                                       71
neighborhood_overview                           1790
host_id                                            0
host_since                                         1
host_location                                      6
host_about                                      1934
host_response_time                                 0
host_response_rate                                 0
host_acceptance_rate                               0
host_is_superhost                                  0
host_neighbourhood                               362
host_listings_count                                1
host_total_listings_count                          0
host_verifications                                 0
host_has_profile_pic                               0
host_identity_verified                             0
neighbourhood                                   1790
neighbourhood_cleansed                             0
latitude                                           0
longitude                                          0
property_type                                      0
room_type                                          0
accommodates                                       0
bathrooms_text                                     0
bedrooms                                           0
beds                                               0
amenities                                          0
price                                              0
minimum_nights                                     0
maximum_nights                                     0
minimum_minimum_nights                             2
maximum_minimum_nights                             2
minimum_maximum_nights                             2
maximum_maximum_nights                             2
minimum_nights_avg_ntm                             2
maximum_nights_avg_ntm                             2
has_availability                                   0
availability_30                                    0
availability_60                                    0
availability_90                                    0
availability_365                                   0
number_of_reviews                                  0
number_of_reviews_ltm                              0
number_of_reviews_l30d                             0
first_review                                    1298
last_review                                     1298
review_scores_rating                               0
review_scores_accuracy                          1324
review_scores_cleanliness                          0
review_scores_checkin                              0
review_scores_communication                        0
review_scores_location                             0
review_scores_value                             1325
license                                         2773
instant_bookable                                   0
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                                  0
host_since_years                                   0
dtype: int64

# calendar dataset

In [29]:
calendar_df=pd.read_csv('calendar.csv')
calendar_df['listing_id']=calendar_df['listing_id'].astype('category')
calendar_df['date']=pd.to_datetime(calendar_df['date'])
calendar_df['available']=calendar_df['available'].astype('category')
calendar_df['price']=calendar_df['price'].str.replace('$','').str.replace(',','').astype(float)
calendar_df['adjusted_price']=calendar_df['adjusted_price'].str.replace('$','').str.replace(',','').astype(float)
calendar_df['price_diff']=calendar_df['price']-calendar_df['adjusted_price']

C:\Users\tempt\Anaconda3\envs\Kanmani\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """
C:\Users\tempt\Anaconda3\envs\Kanmani\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

In [30]:
#create day of week column using "DATE" column
calendar_df['day_of_week'] = [i.day_name() for i in calendar_df['date'].tolist()]
calendar_df['day_of_week'] = calendar_df['day_of_week'] .astype('category')

In [31]:
#extract Number of days booked, 5 Bins based on days booked from calendar data
df=pd.crosstab(calendar_df.listing_id,calendar_df.available)
df.columns=['days_booked','days_not_booked']
df['listing_id']=df.index
df.reset_index(drop=True,inplace=True)
df=pd.DataFrame(df,columns=['listing_id','days_booked','days_not_booked'])
df.drop(columns=['days_not_booked'],inplace=True)
bins=[0,68,211,305,365]
df['booking_status']=np.searchsorted(bins, df['days_booked'].values)

In [32]:
# Extract min/max/mean adjusted price from calendar data
df1_min_price=calendar_df.groupby('listing_id',as_index=False)['adjusted_price'].min()
df1_min_price.columns=['listing_id','min_price']
df1_max_price=calendar_df.groupby('listing_id',as_index=False)['adjusted_price'].max()
df1_max_price.columns=['listing_id','max_price']
df1_avg_price=calendar_df.groupby('listing_id',as_index=False)['adjusted_price'].mean()
df1_avg_price.columns=['listing_id','mean_price']

In [33]:
#Merge all the calculated columns from calendar data
tables=[df,df1_min_price,df1_max_price,df1_avg_price]
dfs = reduce(lambda x,y: pd.merge(x,y,on='listing_id'), tables)
dfs.head()

  listing_id  days_booked  booking_status  min_price  max_price  mean_price
0        958          229               3      170.0      192.0  172.232877
1       5858            0               0      235.0      235.0  235.000000
2       7918            0               0       56.0       65.0   62.090411
3       8142            0               0       56.0       65.0   62.090411
4       8339            0               0      895.0      895.0  895.000000

In [34]:
# merge "calendar data" with "listings data"
combined_df=pd.merge(listing_df,dfs,how='inner',left_on='id',right_on='listing_id')
combined_df.drop('listing_id',axis=1,inplace=True)
combined_df['mean_price']=combined_df['mean_price'].round(decimals=1)

In [35]:
combined_df['Success_rate']=1-(0.25*combined_df['availability_30']/30+0.25*(combined_df['availability_60']-combined_df['availability_30'])/30+0.25*(combined_df['availability_90']-combined_df['availability_60'])/30+0.25*(combined_df['availability_365']-combined_df['availability_90'])/275)

# model dataset

In [36]:
model_data=combined_df.copy()

In [37]:
for i in model_data.index:
    if model_data.loc[i,'host_location']=='San Francisco, California, United States':
        model_data.loc[i,'host_in_sfo']=1
    else:
        model_data.loc[i,'host_in_sfo']=0

In [38]:
for i in model_data.index:
    if str(model_data.loc[i,'license']).startswith('STR'):
        model_data.loc[i,'licensed']=1
    else:
        model_data.loc[i,'licensed']=0

In [39]:
model_data.drop(['id','name','host_about','calculated_host_listings_count_entire_homes','review_scores_value','review_scores_accuracy','description','neighborhood_overview','host_id','latitude','longitude','host_since','host_location','host_neighbourhood','host_listings_count','host_verifications','neighbourhood','amenities','price','availability_30','availability_60','availability_90','availability_365','first_review','last_review','license','calculated_host_listings_count','calculated_host_listings_count_private_rooms','calculated_host_listings_count_shared_rooms','days_booked','booking_status','min_price','max_price'],axis=1,inplace=True)

In [40]:
#model_data.isnull().sum() #no null values

In [41]:
model_data.shape

(6411, 38)

In [47]:
data=model_data.copy()
data.head()

,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_has_profile_pic,host_identity_verified,neighbourhood_cleansed,property_type,room_type,accommodates,bathrooms_text,bedrooms,beds,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,has_availability,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,instant_bookable,reviews_per_month,host_since_years,mean_price,Success_rate,host_in_sfo,licensed
0,0,100,98,t,1.0,t,t,Western Addition,Entire serviced apartment,Entire home/apt,3,1 bath,1.0,2.0,2,30,2.0,2.0,1125.0,1125.0,2.0,1125.0,t,315,42,0,4.87,4.95,4.95,4.90,4.98,f,2.08,13.4,172.2,0.71303,1.0,0.0
1,2,100,71,f,2.0,t,t,Bernal Heights,Entire rental unit,Entire home/apt,5,1 bath,2.0,3.0,30,60,30.0,30.0,60.0,60.0,30.0,60.0,t,111,0,0,4.88,4.87,4.89,4.85,4.77,f,0.72,12.9,235.0,0.00000,0.0,0.0
2,0,100,100,f,10.0,t,t,Haight Ashbury,Private room in rental unit,Private room,2,4 shared baths,1.0,1.0,32,60,32.0,32.0,60.0,60.0,32.0,60.0,t,19,0,0,4.20,3.87,4.67,4.60,4.73,f,0.13,12.6,62.1,0.00000,1.0,0.0
3,0,100,100,f,10.0,t,t,Haight Ashbury,Private room in rental unit,Private room,2,4 shared baths,1.0,1.0,32,90,32.0,32.0,90.0,90.0,32.0,90.0,t,8,0,0,4.63,4.38,4.75,4.75,4.63,f,0.09,12.6,62.1,0.00000,1.0,0.0
4,4,94,0,f,2.0,t,t,Western Addition,Entire condominium (condo),Entire home/apt,4,1.5 baths,2.0,2.0,7,111,7.0,7.0,111.0,111.0,7.0,111.0,t,28,0,0,4.87,5.00,4.94,5.00,4.94,f,0.19,12.5,895.0,0.00000,1.0,1.0

In [48]:
data.isnull().sum()

host_response_time             0
host_response_rate             0
host_acceptance_rate           0
host_is_superhost              0
host_total_listings_count      0
host_has_profile_pic           0
host_identity_verified         0
neighbourhood_cleansed         0
property_type                  0
room_type                      0
accommodates                   0
bathrooms_text                 0
bedrooms                       0
beds                           0
minimum_nights                 0
maximum_nights                 0
minimum_minimum_nights         0
maximum_minimum_nights         0
minimum_maximum_nights         0
maximum_maximum_nights         0
minimum_nights_avg_ntm         0
maximum_nights_avg_ntm         0
has_availability               0
number_of_reviews              0
number_of_reviews_ltm          0
number_of_reviews_l30d         0
review_scores_rating           0
review_scores_cleanliness      0
review_scores_checkin          0
review_scores_communication    0
review_scores_location         0
instant_bookable               0
reviews_per_month              0
host_since_years               0
mean_price                     0
Success_rate                   0
host_in_sfo                    0
licensed                       0
dtype: int64

In [49]:
pd.set_option('display.max_columns',None)
for i,j in enumerate(data.columns.values.tolist()):
    print(i,j)

0 host_response_time
1 host_response_rate
2 host_acceptance_rate
3 host_is_superhost
4 host_total_listings_count
5 host_has_profile_pic
6 host_identity_verified
7 neighbourhood_cleansed
8 property_type
9 room_type
10 accommodates
11 bathrooms_text
12 bedrooms
13 beds
14 minimum_nights
15 maximum_nights
16 minimum_minimum_nights
17 maximum_minimum_nights
18 minimum_maximum_nights
19 maximum_maximum_nights
20 minimum_nights_avg_ntm
21 maximum_nights_avg_ntm
22 has_availability
23 number_of_reviews
24 number_of_reviews_ltm
25 number_of_reviews_l30d
26 review_scores_rating
27 review_scores_cleanliness
28 review_scores_checkin
29 review_scores_communication
30 review_scores_location
31 instant_bookable
32 reviews_per_month
33 host_since_years
34 mean_price
35 Success_rate
36 host_in_sfo
37 licensed

replace responses with 0 to 4 & Nan as '4'

In [50]:
data['host_response_time'].replace(['within an hour', 'within a few hours', 'within a day', 'a few days or more'],
                        [0,1,2,3], inplace=True)

In [51]:
#data=data.iloc[:,[0,1,2,3,4,5,6,22,31,34,35,36]]
data=data.iloc[:,[0,1,2,3,4,5,6,22,31,33,34,35,36,37]]

In [52]:
data.head()

,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_has_profile_pic,host_identity_verified,has_availability,instant_bookable,host_since_years,mean_price,Success_rate,host_in_sfo,licensed
0,0,100,98,t,1.0,t,t,t,f,13.4,172.2,0.71303,1.0,0.0
1,2,100,71,f,2.0,t,t,t,f,12.9,235.0,0.00000,0.0,0.0
2,0,100,100,f,10.0,t,t,t,f,12.6,62.1,0.00000,1.0,0.0
3,0,100,100,f,10.0,t,t,t,f,12.6,62.1,0.00000,1.0,0.0
4,4,94,0,f,2.0,t,t,t,f,12.5,895.0,0.00000,1.0,1.0

In [53]:
len(data.groupby(['host_is_superhost']).size())

2

In [54]:
data=data.astype({'licensed':'category',"host_in_sfo":'category',
                               "has_availability":'category',"host_is_superhost":'category',
                                "host_has_profile_pic":'category',"host_identity_verified":'category',
                               "instant_bookable":'category'})

dummy_columns=['host_is_superhost',
        'host_has_profile_pic',
       'host_identity_verified', 'has_availability', 
       'instant_bookable', 'host_in_sfo',
       'licensed']
for i in dummy_columns:
    if len(data.groupby([i]).size())>2:
        encoded_data=pd.get_dummies(data,prefix=[i],columns=[i])
encoded_data=pd.get_dummies(data,drop_first=True)

In [55]:
test=encoded_data.loc[encoded_data['host_response_time']==4,:]
train=encoded_data.loc[encoded_data['host_response_time']!=4,:]

In [56]:
encoded_data['host_response_time'].unique()

array([0, 2, 4, 1, 3], dtype=int64)

In [57]:
train.head()

,host_response_time,host_response_rate,host_acceptance_rate,host_total_listings_count,host_since_years,mean_price,Success_rate,host_is_superhost_t,host_has_profile_pic_t,host_identity_verified_t,has_availability_t,instant_bookable_t,host_in_sfo_1.0,licensed_1.0
0,0,100,98,1.0,13.4,172.2,0.71303,1,1,1,1,0,1,0
1,2,100,71,2.0,12.9,235.0,0.00000,0,1,1,1,0,0,0
2,0,100,100,10.0,12.6,62.1,0.00000,0,1,1,1,0,1,0
3,0,100,100,10.0,12.6,62.1,0.00000,0,1,1,1,0,1,0
6,2,50,100,1.0,12.4,150.0,0.07500,0,1,1,1,0,1,1

In [58]:
X=train.iloc[:,[1,2,3,4,5,6,7,8,9,10,11,12,13]]
Y=train.iloc[:,0]
X_test=test.iloc[:,[1,2,3,4,5,6,7,8,9,10,11,12,13]]
Y_test=test.iloc[:,0]

In [59]:
X_train,X_valid,Y_train,Y_valid=train_test_split(X,Y,test_size=0.1,random_state=1)

In [60]:
X_train.head()

,host_response_rate,host_acceptance_rate,host_total_listings_count,host_since_years,mean_price,Success_rate,host_is_superhost_t,host_has_profile_pic_t,host_identity_verified_t,has_availability_t,instant_bookable_t,host_in_sfo_1.0,licensed_1.0
3010,100,66,2.0,11.3,300.0,0.050000,0,1,1,1,0,1,1
5372,100,92,0.0,0.9,251.4,0.333333,0,1,1,1,0,0,0
1589,100,93,19.0,10.1,169.0,0.619091,1,1,1,1,0,0,0
5935,99,99,36.0,2.8,148.1,0.444091,1,1,0,1,0,1,0
3452,100,59,2.0,9.4,107.8,0.417576,0,1,1,1,0,1,1

In [61]:
cols=X_train.columns
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_valid=scaler.transform(X_valid)
X_test=scaler.transform(X_test)
X_train=pd.DataFrame(X_train,columns=cols)
X_valid=pd.DataFrame(X_valid,columns=cols)
X_test=pd.DataFrame(X_test,columns=cols)

In [62]:
k=np.arange(1,20,1).tolist()
for i in k:
    knn=KNeighborsClassifier(n_neighbors=i)
    knn.fit(X_train.values,Y_train.values)
    Y_pred_valid=knn.predict(X_valid.values)
    print('Model accuracy score: {0:0.4f}'. format(accuracy_score(Y_valid, Y_pred_valid)), 'for k=',i)
    #print(classification_report(Y_valid, Y_pred_valid))

Model accuracy score: 0.7524 for k= 1
Model accuracy score: 0.7788 for k= 2
Model accuracy score: 0.7845 for k= 3
Model accuracy score: 0.7788 for k= 4
Model accuracy score: 0.7826 for k= 5
Model accuracy score: 0.7864 for k= 6
Model accuracy score: 0.7732 for k= 7
Model accuracy score: 0.7750 for k= 8
Model accuracy score: 0.7732 for k= 9
Model accuracy score: 0.7769 for k= 10
Model accuracy score: 0.7694 for k= 11
Model accuracy score: 0.7656 for k= 12
Model accuracy score: 0.7618 for k= 13
Model accuracy score: 0.7599 for k= 14
Model accuracy score: 0.7599 for k= 15
Model accuracy score: 0.7618 for k= 16
Model accuracy score: 0.7599 for k= 17
Model accuracy score: 0.7599 for k= 18
Model accuracy score: 0.7637 for k= 19

In [63]:
knn=KNeighborsClassifier(n_neighbors=6)
knn.fit(X_train.values, Y_train.values)
Y_pred_test=knn.predict(X_test.values)
#print('Model accuracy score in test set:{0:0.4f}'.format(accuracy_score(Y_test,Y_pred_test)))
#print(classification_report(Y_test, Y_pred_test))

In [65]:
index=test.index.tolist()
prediction=Y_pred_test
pred={}
for i,v in zip(index,prediction):
    pred[i]=v
df=pd.DataFrame(data=pred,index=[0])
df=df.T
df.columns=['host_response_time']
print(df)
df.to_csv('missing_responses.csv')

      host_response_time
4                      1
5                      0
13                     0
21                     0
22                     0
25                     0
28                     2
37                     0
40                     0
50                     0
51                     0
52                     1
69                     2
76                     1
102                    0
103                    1
106                    2
118                    2
128                    0
131                    0
143                    0
148                    0
154                    2
162                    0
163                    0
166                    0
174                    1
177                    0
198                    0
203                    0
221                    0
227                    1
232                    0
236                    1
246                    1
248                    1
253                    0
260                    1
261                    0
276                    1
280                    1
283                    1
286                    0
291                    0
295                    0
303                    0
305                    1
311                    0
323                    0
325                    1
327                    0
329                    0
330                    0
332                    1
349                    1
350                    2
355                    1
358                    0
359                    0
362                    0
363                    0
366                    1
367                    0
374                    0
375                    1
385                    0
386                    0
387                    0
389                    2
390                    2
392                    0
393                    0
400                    0
407                    0
408                    0
409                    0
411                    0
417                    0
425                    0
426                    0
432                    0
433                    0
435                    2
437                    0
442                    1
449                    0
456                    0
457                    0
462                    0
464                    0
466                    0
467                    1
468                    1
469                    0
472                    0
475                    2
480                    0
488                    2
494                    1
497                    0
501                    1
504                    0
510                    0
518                    0
530                    2
531                    0
533                    0
542                    2
560                    0
566                    1
575                    0
581                    0
588                    1
590                    0
602                    0
604                    1
614                    0
615                    1
620                    1
622                    0
623                    0
636                    0
637                    0
640                    0
642                    0
644                    0
646                    0
647                    0
648                    1
649                    0
650                    0
653                    2
654                    1
660                    0
666                    0
667                    0
686                    0
690                    0
698                    0
702                    1
703                    2
706                    0
710                    0
711                    0
722                    0
723                    2
725                    2
731                    1
732                    0
733                    1
734                    1
738                    0
748                    0
749                    0
752                    0
756                    0
759                    0
762                    0
782                    1
795                    0
798                    0
802                    0
805                    2
812                    1
815                    0
822                    0
828                    0
841                    0
854                    0
857                    1
863                    2
864                    2
865                    0
901                    0
921                    0
925                    1
930                    1
939                    0
947                    0
962                    0
963                    1
966                    0
972                    0
976                    2
986                    2
989                    0
993                    2
1006                   0
1007                   0
1008                   2
1009                   0
1010                   0
1015                   2
1016                   0
1017                   0
1019                   0
1020                   0
1034                   0
1035                   0
1055                   1
1058                   0
1059                   0
1062                   1
1063                   0
1064                   0
1065                   0
1074                   0
1075                   0
1079                   0
1081                   0
1082                   0
1088                   0
1091                   0
1093                   0
1098                   0
1100                   0
1105                   2
1111                   0
1113                   0
1120                   0
1130                   1
1133                   0
1134                   0
1151                   0
1153                   0
1158                   0
1159                   0
1160                   0
1161                   0
1168                   0
1169                   0
1172                   0
1175                   0
1176                   0
1178                   0
1181                   0
1193                   0
1206                   0
1215                   0
1218                   0
1229                   0
1239                   1
1243                   2
1244                   2
1246                   0
1253                   0
1257                   0
1262                   0
1263                   0
1264                   0
1269                   0
1272                   0
1273                   1
1274                   0
1275                   0
1278                   0
1280                   1
1282                   1
1283                   0
1291                   0
1293                   0
1304                   0
1305                   0
1307                   0
1311                   0
1313                   1
1314                   0
1317                   0
1318                   0
1319                   0
1323                   0
1328                   0
1346                   2
1352                   1
1357                   2
1359                   0
1365                   0
1366                   1
1367                   2
1374                   0
1380                   0
1381                   1
1386                   0
1390                   0
1391                   0
1392                   0
1396                   1
1402                   1
1404                   1
1409                   0
1417                   1
1423                   0
1428                   0
1430                   0
1432                   0
1435                   0
1438                   0
1443                   0
1449                   2
1453                   0
1456                   0
1458                   0
1459                   0
1472                   0
1473                   0
1477                   0
1486                   2
1487                   0
1493                   1
1513                   1
1521                   0
1522                   0
1528                   1
1540                   0
1544                   0
1555                   0
1568                   0
1569                   0
1598                   0
1602                   0
1620                   0
1621                   2
1622                   0
1632                   0
1635                   0
1637                   0
1638                   1
1647                   0
1649                   1
1650                   1
1654                   0
1662                   0
1685                   0
1693                   1
1704                   2
1705                   0
1710                   2
1717                   1
1724                   0
1725                   0
1732                   0
1739                   0
1743                   0
1762                   0
1764                   0
1767                   1
1777                   0
1778                   2
1779                   0
1780                   1
1783                   0
1785                   2
1787                   0
1794                   0
1815                   0
1816                   0
1828                   1
1847                   0
1862                   0
1863                   0
1871                   0
1897                   0
1907                   1
1908                   1
1921                   2
1934                   0
1948                   0
1949                   1
1952                   0
1962                   0
1969                   2
1973                   0
1987                   0
1989                   0
1990                   1
1991                   1
1994                   0
1995                   0
1999                   0
2000                   0
2009                   0
2012                   0
2016                   0
2017                   0
2020                   1
2022                   0
2024                   1
2028                   0
2029                   0
2032                   1
2034                   0
2035                   0
2038                   0
2040                   0
2044                   0
2046                   0
2047                   1
2052                   0
2060                   1
2071                   2
2072                   2
2073                   0
2076                   0
2078                   0
2080                   1
2082                   0
2083                   0
2084                   0
2085                   0
2087                   0
2096                   0
2103                   1
2108                   0
2109                   2
2111                   0
2115                   1
2116                   1
2121                   1
2122                   1
2123                   2
2129                   0
2132                   0
2138                   2
2156                   0
2158                   0
2162                   0
2165                   1
2171                   1
2183                   1
2184                   0
2187                   0
2196                   1
2198                   0
2200                   0
2205                   0
2206                   1
2207                   0
2216                   1
2217                   0
2226                   0
2228                   1
2229                   0
2230                   0
2242                   0
2250                   0
2251                   0
2252                   1
2262                   0
2263                   1
2265                   0
2266                   1
2268                   0
2270                   1
2280                   2
2292                   0
2293                   0
2299                   0
2300                   0
2301                   1
2302                   0
2310                   0
2311                   0
2312                   0
2313                   0
2314                   1
2317                   0
2321                   0
2324                   0
2338                   1
2345                   0
2346                   1
2354                   0
2356                   1
2359                   0
2362                   2
2364                   0
2367                   0
2368                   2
2372                   2
2374                   0
2375                   0
2376                   0
2377                   1
2392                   0
2395                   0
2397                   0
2401                   0
2420                   2
2423                   0
2430                   0
2431                   0
2434                   0
2435                   0
2454                   0
2456                   2
2457                   0
2483                   0
2484                   1
2492                   1
2496                   2
2497                   2
2498                   2
2499                   2
2500                   2
2501                   2
2502                   2
2505                   1
2507                   1
2513                   0
2518                   0
2528                   1
2530                   0
2534                   1
2546                   0
2560                   0
2570                   0
2573                   0
2579                   0
2582                   0
2585                   0
2591                   0
2646                   0
2653                   0
2654                   1
2657                   0
2705                   0
2710                   0
2719                   0
2736                   1
2737                   0
2748                   0
2760                   0
2768                   0
2770                   0
2780                   0
2787                   0
2789                   0
2792                   0
2794                   1
2800                   0
2801                   0
2802                   0
2803                   0
2804                   0
2805                   1
2812                   1
2821                   0
2824                   2
2827                   0
2834                   2
2837                   0
2842                   0
2849                   0
2858                   0
2859                   0
2860                   0
2862                   0
2868                   1
2879                   1
2880                   1
2883                   1
2911                   0
2913                   0
2920                   0
2924                   0
2932                   2
2934                   0
2950                   0
2951                   0
2953                   0
2956                   2
2957                   2
2958                   2
2959                   2
2960                   2
2961                   2
2962                   2
2963                   2
2964                   2
2965                   2
2966                   2
2967                   2
2968                   2
2977                   2
2978                   1
2979                   0
2981                   0
2982                   0
2993                   1
3007                   0
3008                   1
3009                   0
3013                   0
3028                   0
3033                   0
3041                   0
3042                   0
3049                   2
3053                   1
3056                   0
3060                   1
3061                   0
3062                   0
3063                   0
3064                   0
3069                   1
3074                   0
3077                   1
3083                   0
3085                   0
3102                   2
3108                   1
3115                   0
3122                   0
3142                   0
3144                   0
3146                   0
3149                   0
3158                   0
3176                   0
3177                   0
3179                   0
3181                   1
3185                   0
3189                   1
3193                   0
3198                   0
3205                   0
3208                   0
3212                   0
3218                   0
3223                   0
3230                   0
3237                   0
3244                   2
3247                   0
3249                   0
3256                   0
3262                   1
3266                   0
3267                   0
3270                   0
3271                   0
3272                   0
3276                   0
3300                   2
3301                   0
3306                   0
3312                   0
3323                   0
3324                   0
3328                   1
3333                   0
3339                   0
3340                   0
3358                   0
3370                   0
3376                   2
3391                   0
3393                   0
3397                   0
3401                   0
3405                   0
3408                   0
3416                   0
3418                   2
3424                   0
3426                   0
3455                   0
3471                   0
3484                   1
3487                   0
3503                   0
3504                   0
3514                   0
3520                   0
3530                   0
3533                   0
3535                   0
3555                   0
3557                   0
3559                   0
3567                   0
3573                   1
3620                   0
3621                   0
3625                   0
3626                   0
3631                   0
3632                   0
3638                   0
3641                   1
3642                   1
3643                   0
3644                   1
3645                   1
3646                   0
3668                   0
3669                   0
3670                   0
3671                   0
3672                   0
3673                   0
3674                   0
3675                   0
3676                   0
3677                   0
3678                   0
3679                   0
3680                   0
3689                   0
3690                   1
3702                   0
3715                   0
3716                   0
3722                   0
3724                   0
3730                   0
3732                   0
3734                   0
3735                   0
3737                   2
3741                   0
3752                   1
3756                   1
3757                   1
3763                   1
3764                   0
3779                   0
3787                   2
3788                   2
3793                   0
3801                   1
3802                   0
3803                   0
3804                   0
3805                   0
3806                   0
3807                   0
3808                   0
3809                   0
3811                   0
3814                   1
3815                   2
3818                   1
3819                   2
3823                   0
3828                   0
3829                   0
3837                   0
3853                   0
3856                   2
3865                   0
3870                   1
3871                   0
3872                   0
3873                   0
3874                   0
3875                   1
3876                   0
3894                   1
3899                   0
3901                   0
3902                   0
3903                   0
3904                   0
3912                   0
3913                   0
3914                   0
3919                   1
3922                   0
3923                   0
3928                   0
3935                   0
3936                   0
3943                   1
3944                   0
3945                   0
3946                   0
3947                   0
3948                   0
3951                   0
3954                   1
3955                   1
3956                   1
3957                   1
3958                   1
3959                   1
3960                   1
3961                   1
3966                   0
3973                   0
3974                   0
3982                   0
3983                   0
3987                   0
4005                   0
4011                   0
4019                   0